<a href="https://colab.research.google.com/github/u-t-k-a-n/Detection-of-Similar-Points-in-Traffic-Characteristics/blob/main/Coordinates_2017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = "drive/MyDrive/2017_v1"
files = list()

In [4]:
for dirname, _, filenames in os.walk(path):
    for filename in filenames:
        files.append(os.path.join(dirname, filename))

In [5]:
len(files)

1466

In [6]:
files.sort()

In [ ]:
files

In [8]:
new_files = list()

In [9]:
for file_name in files:
  name = file_name.split("/")
  name = name[-1]
  name = name.rstrip("2017.csv")
  name = name.strip("_")
  id,direction = name.split("_")
  new_files.append((int(id),int(direction)))

In [ ]:
new_files

In [11]:
data = pd.read_json('drive/MyDrive/Metadata/Coordinates.json')

In [12]:
data.iloc[180:200]

     vSegID  vSegDir                                        gCoordinate
180      99        1  [[41.0324449, 28.9365895], [41.0331218, 28.937...
181     100        0  [[41.0325301, 28.9365657], [41.0318514, 28.935...
182     100        1  [[41.025294, 28.92955], [41.0268473, 28.931072...
183     101        0  [[41.025396, 28.929454], [41.02492, 28.929003]...
184     101        1  [[41.018156, 28.922682000000002], [41.01816, 2...
185     102        0  [[41.01822, 28.922559], [41.015674, 28.921473]...
186     102        1  [[41.00946, 28.921622], [41.011608, 28.92168],...
187     103        0  [[41.009464, 28.921482], [41.008938, 28.921468...
188     103        1  [[41.000631, 28.919852], [41.005837, 28.920954...
189     104        0  [[40.993921, 28.920229], [40.993462, 28.919996...
190     104        1  [[40.988264, 28.919945], [40.988434, 28.919378...
191     105        0  [[41.016546, 28.910908], [41.017353, 28.913161...
192     105        1  [[41.019232, 28.91973], [41.018893, 28.917758]...
193     106        0  [[41.01859, 28.926306], [41.016547, 28.930484]...
194     106        1  [[41.015294, 28.933397], [41.015781, 28.932369...
195     107        0  [[41.015172, 28.933328], [41.014095, 28.935604...
196     107        1  [[41.011918, 28.940334], [41.012072, 28.939809...
197     108        0  [[41.011787, 28.940286], [41.011133, 28.942514...
198     108        1  [[41.009855, 28.948166], [41.010377, 28.945585...
199     109        0    [[41.00959, 28.954073], [41.009586, 28.961201]]

In [55]:
all_coordinates = list()
coordinate_set = set()
different_coord = list()

for new_file in new_files:
  
  if ((data["vSegID"] == new_file[0]) & (data["vSegDir"] == new_file[1])).sum():
    if (list(data[(data["vSegID"] == new_file[0]) & (data["vSegDir"] == new_file[1])]["gCoordinate"])[0][0][0],
         list(data[(data["vSegID"] == new_file[0]) & (data["vSegDir"] == new_file[1])]["gCoordinate"])[0][0][1]
         ) in coordinate_set:

         different_coord.append((new_file[0],new_file[1],
                                 list(data[(data["vSegID"] == new_file[0]) & (data["vSegDir"] == new_file[1])]["gCoordinate"])[0][0][0],
                                 list(data[(data["vSegID"] == new_file[0]) & (data["vSegDir"] == new_file[1])]["gCoordinate"])[0][0][1]))

         print(new_file,list(data[(data["vSegID"] == new_file[0]) & (data["vSegDir"] == new_file[1])]["gCoordinate"])[0][0][0],
               list(data[(data["vSegID"] == new_file[0]) & (data["vSegDir"] == new_file[1])]["gCoordinate"])[0][0][1])
    

    coordinate_set.add(
        (list(data[(data["vSegID"] == new_file[0]) & (data["vSegDir"] == new_file[1])]["gCoordinate"])[0][0][0],
         list(data[(data["vSegID"] == new_file[0]) & (data["vSegDir"] == new_file[1])]["gCoordinate"])[0][0][1]
         )
        )
    
    all_coordinates.append(
        (new_file[0],new_file[1],
         list(data[(data["vSegID"] == new_file[0]) & (data["vSegDir"] == new_file[1])]["gCoordinate"])[0][0][0],
         list(data[(data["vSegID"] == new_file[0]) & (data["vSegDir"] == new_file[1])]["gCoordinate"])[0][0][1]         
         )
    )

(2083, 0) 40.997579 28.932985
(76, 1) 41.0721772 29.0161166

In [23]:
len(coordinate_set)

1464

In [24]:
len(all_coordinates)

1466

In [42]:
(list(data[(data["vSegID"] == 2083) & (data["vSegDir"] == 0)]["gCoordinate"])[0][1][0],
         list(data[(data["vSegID"] == 2083) & (data["vSegDir"] == 0)]["gCoordinate"])[0][1][1]
         ) in coordinate_set

False

In [43]:
(list(data[(data["vSegID"] == 76) & (data["vSegDir"] == 1)]["gCoordinate"])[0][1][0],\
        list(data[(data["vSegID"] == 76) & (data["vSegDir"] == 1)]["gCoordinate"])[0][1][1]\
         ) in coordinate_set

False

In [53]:
all_coordinates[:10]

[(100, 0, 41.0325301, 28.9365657),
 (100, 1, 41.025294, 28.92955),
 (101, 0, 41.025396, 28.929454),
 (101, 1, 41.018156, 28.922682000000002),
 (1026, 1, 40.9909258, 28.6798182),
 (102, 0, 41.01822, 28.922559),
 (102, 1, 41.00946, 28.921622),
 (103, 0, 41.009464, 28.921482),
 (103, 1, 41.000631, 28.919852),
 (104, 0, 40.993921, 28.920229)]

In [56]:
for name,direction,x,y in all_coordinates:
  if x == 40.997579 or x == 41.0721772:
    print(x,y,name,direction)

40.997579 28.932985 2082 0
40.997579 28.932985 2083 0
41.0721772 29.0161166 744 0
41.0721772 29.0161166 76 1

In [57]:
different_coord

[(2083, 0, 40.997579, 28.932985), (76, 1, 41.0721772, 29.0161166)]

In [58]:
for name_diff_coord,dir_diff_coord,x,y in different_coord:
    all_coordinates.remove((name_diff_coord,dir_diff_coord,x,y))

In [59]:
len(all_coordinates)

1464

In [62]:
different_coord

[(2083, 0, 40.997579, 28.932985), (76, 1, 41.0721772, 29.0161166)]

In [64]:
for name,direction,x,y in different_coord:
  if ((data["vSegID"] == name) & (data["vSegDir"] == direction)).sum():
    
    if (list(data[(data["vSegID"] == name) & (data["vSegDir"] == direction)]["gCoordinate"])[0][1][0],
         list(data[(data["vSegID"] == name) & (data["vSegDir"] == direction)]["gCoordinate"])[0][1][1]
         ) in coordinate_set:
         
         print(name,direction,(list(data[(data["vSegID"] == name) & (data["vSegDir"] == direction)]["gCoordinate"])[0][1][0],
         list(data[(data["vSegID"] == name) & (data["vSegDir"] == direction)]["gCoordinate"])[0][1][1]))
         
    coordinate_set.add(
        (list(data[(data["vSegID"] == name) & (data["vSegDir"] == direction)]["gCoordinate"])[0][1][0],
         list(data[(data["vSegID"] == name) & (data["vSegDir"] == direction)]["gCoordinate"])[0][1][1]
         )
        )

    all_coordinates.append(
        (name,direction,
         list(data[(data["vSegID"] == name) & (data["vSegDir"] == direction)]["gCoordinate"])[0][1][0],
         list(data[(data["vSegID"] == name) & (data["vSegDir"] == direction)]["gCoordinate"])[0][1][1]         
         )
    )

In [65]:
len(all_coordinates)

1466

In [71]:
all_coordinates[-1]

(76, 1, 41.072672, 29.0161176)

In [72]:
df = pd.DataFrame(columns=["vSegID","vSegDir","longitude","latitude"],data=all_coordinates)

In [73]:
df

      vSegID  vSegDir  longitude   latitude
0        100        0  41.032530  28.936566
1        100        1  41.025294  28.929550
2        101        0  41.025396  28.929454
3        101        1  41.018156  28.922682
4       1026        1  40.990926  28.679818
...      ...      ...        ...        ...
1461      99        0  41.040595  28.940399
1462      99        1  41.032445  28.936590
1463       9        0  40.954825  29.083659
1464    2083        0  40.998055  28.933086
1465      76        1  41.072672  29.016118

[1466 rows x 4 columns]

In [75]:
df.to_csv("drive/MyDrive/Metadata/Coordinates_2017.csv",index=False)